.premium{
    margin-top: 85px;
}
.premium_heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.datapremium {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    /* //padding: 20px 30px; */
    margin-top: 30px;
}

.datapremium .all_row .img_data{
    display: column;
    align-items: center;
    
}

.img_data img{
    width: 250px;
    margin-bottom: 20px;
}

.img_data img:hover{
    scale: 1.1;
}

.img_data p{
    color: rgb(61, 102, 137);
    margin-left: 25px;
}