.shopbycollection_data{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;

    padding: 40px 50px;
    justify-content: center;
    align-items: center;
    align-self:center;
    align-content: center;
}

.shopbycollection{
    margin-top: 80px;
}
.shopbycollection .heading{
    display: flex;
    justify-content: center;
    align-items: center;
}


.shopbycollection_data div img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.collection_name{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(65, 139, 139);
}

.shopbycollection_viewall{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopbycollection_viewall button{
    padding: 10px 20px;
    background:none;
    color: rgb(139, 141, 143);
    border: none;
    /* outline: none; */
    font-size: 15px;
    cursor: pointer;
}

.shopbycollection_viewall button:hover{
    box-shadow: -2px 2px 11px #dedada;
}